<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio Lauren Tsai, seorang desainer dan developer kreatif yang siap membantu mewujudkan proyek digital Anda.">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Lauren Tsai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="social-sidebar">
        <a href="https://wa.me/6285894448143" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="https://instagram.com/NAMA_ANDA" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://facebook.com/NAMA_ANDA" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://linkedin.com/in/NAMA_ANDA" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://youtube.com/c/NAMA_ANDA" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>

    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% if page.url == '/reviews/' %}
    <script>
        const swiper = new Swiper('.review-slider', {
          loop: true,
          slidesPerView: 1,
          spaceBetween: 30,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          breakpoints: {
            768: {
              slidesPerView: 2,
              spaceBetween: 30
            }
          }
        });
    </script>
    {% endif %}
</body>
</html>