<header class="container pt-3 pb-3" id="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid p-0">
      <a class="navbar-brand" href="/">LAUREN <span class="text-accent">TSAI.</span></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio/">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews/">Reviews</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/faqs/">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
          <li class="nav-item mt-3 mt-lg-0 ms-lg-3">
            <a href="https://wa.me/6285894448143?text=Halo%2C%20saya%20menemukan%20portfolio%20Anda%20dan%20tertarik%20untuk%20berdiskusi%20lebih%20lanjut." class="btn-accent" target="_blank">Let's Talk</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>